<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Правка книги</title>
</head>
<body>
<form id="edit-form" th:action="@{/edit(id=${book.id})}" th:method="post" action="edit.html">
    <h1>Править книгу:</h1>
    <div class="row">
        <label for="id-input">Book ID:</label>
        <label for="id-input" th:text="${book.id}">id</label>
        <input id="id-input" type="text" th:value="${book.id}" value="1" hidden="true"/>
    </div>
    <div class="row">
        <label for="author-id-input">Author ID:</label>
        <input id="author-id-input" name="authorId" type="text" th:value="${book.author.id}" value="1"/>
    </div>
    <div class="row">
        <label for="genre-input">Genre:</label>
        <input id="genre-input" name="genre" type="text" th:value="${book.genre.name}" value="1"/>
    </div>
    <div class="row">
        <label for="title-input">Title:</label>
        <input id="title-input" name="title" type="text" th:value="${book.title}" value="Title"/>
    </div>

    <div class="row">
        <button type="submit">Сохранить</button>
    </div>
</form>

</body>
</html>
