<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Список</title>
</head>
<body>
<h1>Список книг</h1>
<table class="book">
    <thead>
    <tr>
        <th>ID</th>
        <th>Author</th>
        <th>Genre</th>
        <th>Title</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="book : ${books}">
        <td th:text="${book.id}">1</td>
        <td th:text="${book.author}">Author</td>
        <td th:text="${book.genre}">Genre</td>
        <td th:text="${book.title}">Title</td>
        <td>
            <a href="edit.html" th:href="@{/edit(id=${book.id})}">Правка</a>
        </td>
        <td>
            <a href="delete.html" th:href="@{/delete(id=${book.id})}">Удалить</a>
        </td>
    </tr>
    </tbody>
</table>
<br>
<a href="add.html" th:href="@{/add}">Добавить книгу</a>
</body>
</html>
