<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Правка книги</title>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
</head>
<body>
<script th:inline="javascript">
    function save() {
        let book = {
            authorId: $("#author-id-input").val(),
            genre: $("#genre-input").val(),
            title: $("#title-input").val()
        }
        $.ajax({
            url: "/api/book/" + $("#id-input").val(),
            type: 'POST',
            dataType: "json",
            contentType: "application/json",
            data: JSON.stringify(book),
            success: function (result) {
                location.assign("/");
            }
        });
    }

    function loadBook(id) {
        $.get('/api/book/' + id).done(function (book) {
            $('body').append(`
                        <h1>Править книгу:</h1>
                        <form id="edit-form" action="" >
                        <h1>Править книгу:</h1>
                        <div class="row">
                            <label for="id-input">Book ID:</label>
                            <input id="id-input" name="id" type="text" value="${book.id}" value="1" disabled="true"/>
                        </div>
                        <div class="row">
                            <label for="author-id-input">Author ID:</label>
                            <input id="author-id-input" name="authorId" type="text" value="${book.author.id}" value="1"/>
                        </div>
                        <div class="row">
                            <label for="genre-input">Genre:</label>
                            <input id="genre-input" name="genre" type="text" value="${book.genre.name}" value="1"/>
                        </div>
                        <div class="row">
                            <label for="title-input">Title:</label>
                            <input id="title-input" name="title" type="text" value="${book.title}" value="Title"/>
                        </div>

                    </form>

                        <div class="row">
                            <button id="submit" type="submit" onclick="save();">save</button>
                        </div>
                `)
        })
    }

    $(function () {
        loadBook([[${param.id[0]}]])
    });
</script>
</body>
</html>
