<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Правка книги</title>
</head>
<body>
<!--<form id="edit-form" th:action="@{/add}" th:method="post" action="add.html">-->
<!--    <h1>Добавить книгу:</h1>-->
<!--    <div class="row">-->
<!--        <label for="author-input">Author ID:</label>-->
<!--        <input id="author-input" name="name" type="text" th:value="${book.author}" value="1"/>-->
<!--    </div>-->
<!--    <div class="row">-->
<!--        <label for="genre-input">Genre ID:</label>-->
<!--        <input id="genre-input" name="name" type="text" th:value="${book.genre}" value="1"/>-->
<!--    </div>-->
<!--    <div class="row">-->
<!--        <label for="title-input">Title:</label>-->
<!--        <input id="title-input" name="name" type="text" th:value="${book.title}" value="Title"/>-->
<!--    </div>-->

<!--    <div class="row">-->
<!--        <button type="submit">Сохранить</button>-->
<!--    </div>-->
<!--</form>-->
<form id="edit-form" th:action="@{/add}" th:method="post" action="add.html">
    <h1>Добавить книгу:</h1>
    <!--    <div class="row">-->
    <!--        <label for="id-input">Book ID:</label>-->
    <!--        <label for="id-input" th:text="${book.id}">id</label>-->
    <!--        <input id="id-input" name="book_id" type="text" th:value="${book.id}" value="1" hidden="true"/>-->
    <!--    </div>-->
    <!--    <div class="row">-->
    <!--        <label for="author-input">Author ID:</label>-->
    <!--        <input id="author-input" name="author_id" type="text" th:value="${book.author.id}" value="1"/>-->
    <!--    </div>-->
    <!--    <div class="row">-->
    <!--        <label for="genre-input">Genre:</label>-->
    <!--        <input id="genre-input" name="genre" type="text" th:value="${book.genre.name}" value="1"/>-->
    <!--    </div>-->

    <div class="row">
        <label for="author-id-input">Author ID:</label>
        <input id="author-id-input" name="author_id" type="text"/>
    </div>
    <!--    <div class="row">-->
    <!--        <label for="author-fn-input">Author firstname:</label>-->
    <!--        <input id="author-fn-input" name="author_fn" type="text" th:value="${book.author.firstName}" value="1"/>-->
    <!--    </div>-->
    <!--    <div class="row">-->
    <!--        <label for="author-ln-input">Author lastname:</label>-->
    <!--        <input id="author-ln-input" name="author_ln" type="text" th:value="${book.author.lastName}" value="1"/>-->
    <!--    </div>-->
    <div class="row">
        <label for="genre-input">Genre:</label>
        <input id="genre-input" name="genre_name" type="text"/>
    </div>
    <div class="row">
        <label for="title-input">Title:</label>
        <input id="title-input" name="title" type="text"/>
    </div>

    <div class="row">
        <button type="submit">Сохранить</button>
    </div>
</form>

</body>
</html>
