<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Правка книги</title>
</head>
<body>
<form id="edit-form" th:action="@{/add}" th:method="post" action="add.html">
    <h1>Добавить книгу:</h1>
    <div class="row">
        <label for="author-id-input">Author ID:</label>
        <input id="author-id-input" name="authorId" type="text"/>
    </div>
    <div class="row">
        <label for="genre-input">Genre:</label>
        <input id="genre-input" name="genre" type="text"/>
    </div>
    <div class="row">
        <label for="title-input">Title:</label>
        <input id="title-input" name="title" type="text"/>
    </div>

    <div class="row">
        <button type="submit">Сохранить</button>
    </div>
</form>

</body>
</html>
